.blogPics img {
    width: 400px;
    height: auto;
}

.verticalBlogPics {
    width: 300px;
    height: auto;
}

.center {
    text-align: center;
}

h3 {
    color: orange;
}

body {
    text-align: center;
    margin: 10%;
}
